PRODUCT_HUNT_TOKEN=your_token_here
PRODUCT_HUNT_TOKEN=your_token_here
SUPABASE_HOST=your_supabase_host
SUPABASE_PASSWORD=your_supabase_password
SUPABASE_USER=postgres
SUPABASE_DB=postgres
SUPABASE_PORT=5432